<!DOCTYPE html>

{% from "macro_ajax.jinja2" import macro_ajax_call with context %}
{% from "macro_map.jinja2" import macro_map_html with context %}
{% from "macro_map.jinja2" import macro_map_code with context %}
{% from "macro_map.jinja2" import macro_map_update_function with context %}
{% from "macro_label_group.jinja2" import macro_label_group_html with context %}
{% from "macro_label_group.jinja2" import macro_label_group_update_function with context %}
{% from "macro_horizontal_table.jinja2" import macro_horizontal_table_style with context %}
{% from "macro_horizontal_table.jinja2" import macro_horizontal_table_html with context %}
{% from "macro_horizontal_table.jinja2" import macro_horizontal_table_code with context %}
{% from "macro_horizontal_table.jinja2" import macro_horizontal_table_update_function with context %}
<html>
<head>

    <title>{{ title or "Tesla Data Source Dashboard" }}</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <style>
        {{ macro_horizontal_table_style('???') }}
    </style>

</head>
<body>

<div class="map_row">
    <div id="mapid" class="map_column">
        {{ macro_map_html('car_map') }}
    </div>
    <div class="status_text_column">
        {{ macro_label_group_html('car_status') }}
        <hr/>
        {{ macro_label_group_html('car_total') }}
        <hr/>
        {{ macro_label_group_html('car_forecast') }}
    </div>
</div>

{{ macro_horizontal_table_html('recent_lap', 'recent lap') }}
{{ macro_horizontal_table_html('previous_laps', 'previous laps') }}


<script>
    function getStatusText(car_status_labels) {
        statusText = "";
        if (car_status_labels.title) {
            statusText += "<B>" + car_status_labels.title + "</b><br/>";
        }
        // TODO render title
        car_status_labels.items.forEach(function (item, index) {
            statusText += `<b>${item.label}</b>: ${item.value}<br/>`;
        });
        return statusText;
    }

    {{ macro_horizontal_table_code('recent_lap') }}
    {{ macro_horizontal_table_code('previous_laps') }}

    $(document).ready(function () {
        {{ macro_map_code('car_map') }}

        function statusUpdateSuccess(data) {
            {{ macro_map_update_function('car_map', 'data.lat', 'data.lon', 'data.mapLabels') }}
            {{ macro_label_group_update_function('car_status', 'data.statusLabels') }}
            {{ macro_label_group_update_function('car_total', 'data.totalLabels') }}
            {{ macro_label_group_update_function('car_forecast', 'data.forecastLabels') }}
        }

        function statusUpdateFailure() {
          {{ macro_map_update_function('car_map', null, null, null) }}
        }

        function lapsUpdateSuccess(data) {
            {{ macro_horizontal_table_update_function('recent_lap', '[data.recent]') }}
            {{ macro_horizontal_table_update_function('previous_laps', 'data.previous') }}
        }

        function lapsUpdateFailure() {
            {{ macro_horizontal_table_update_function('recent_lap', '[]') }}
            {{ macro_horizontal_table_update_function('previous_laps', '[]') }}
        }

        // ajax calls
        {{ macro_ajax_call('car_status_update', get_status_url, 2000, 3, 'statusUpdateSuccess', 'statusUpdateFailure') }}
        {{ macro_ajax_call('car_laps_update', get_laps_url, 2000, 3, 'lapsUpdateSuccess', 'lapsUpdateFailure') }}

    });
</script>

<hr/>
Source code available at <a href="https://github.com/krezac/tesla-race-analyzer" target="_blank">https://github.com/krezac/tesla-race-analyzer</a>
</body>
</html>
