<!DOCTYPE html>

{% from "macro_common.jinja2" import macro_common_headers with context %}
{% from "macro_common.jinja2" import macro_common_footer with context %}
{% from "macro_ajax.jinja2" import macro_ajax_call with context %}
{% from "macro_table.jinja2" import macro_table_style with context %}
{% from "macro_table.jinja2" import macro_table_html with context %}
{% from "macro_table.jinja2" import macro_table_horizontal_code with context %}
{% from "macro_table.jinja2" import macro_table_vertical_code with context %}
{% from "macro_table.jinja2" import macro_table_update_function with context %}

<html>
<head>

   <title>{{ title or "Tesla Data Source Dashboard" }}</title>

    {{ macro_common_headers() }}

    <style>
        {{ macro_table_style('???') }}
    </style>

</head>
<body>

{{ macro_table_html('recent_lap', 'recent lap') }}
{{ macro_table_html('previous_laps', 'previous laps') }}
<script>
    {{ macro_table_horizontal_code('recent_lap') }}

    {% if configuration.previous_laps_table_vertical %}
        {{ macro_table_vertical_code('previous_laps') }}
    {% else %}
        {{ macro_table_horizontal_code('previous_laps') }}
    {% endif %}

    $(document).ready(function () {

        function lapsUpdateSuccess(data) {
            {{ macro_table_update_function('recent_lap', '[data.recent]') }}
            {{ macro_table_update_function('previous_laps', 'data.previous') }}
        }

        function lapsUpdateFailure() {
            {{ macro_table_update_function('recent_lap', '[]') }}
            {{ macro_table_update_function('previous_laps', '[]') }}
        }

        // ajax calls
        {{ macro_ajax_call('car_laps_update', get_laps_url, 2000, 3, 'lapsUpdateSuccess', 'lapsUpdateFailure') }}

    });
</script>

{{ macro_common_footer(admin_ui_url) }}
</body>
</html>
