{% macro  macro_horizontal_table_style(name) %} {# TODO add name to the elements #}
    .map_column {
        float: left;
        /* width: 50%; */
        padding-left: 40px;
        padding-right: 40px;
    }

    .status_text_column {
        float: left;
        /* width: 50%; */
        padding-left: 40px;
        padding-right: 40px;
    }

    .section_title {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    @media only screen and (min-width: 500px) {
        .map_row {
            display: flex;
        }
    }

    /* Clear floats after the columns */
    .map_row:after {
        content: "";
        display: table;
        clear: both;
    }

    #mapid {
        width: 70vw;
        height: 500px;
        max-height: 70vh;
    }

    @media only screen and (min-width: 500px) {
        #mapid {
            width: 50vw;
        }
    }

    div.minimalistBlack {
        border: 3px solid #000000;
        /* width: 100%; */
        text-align: left;
        border-collapse: collapse;
    }

    .divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
        border: 1px solid #000000;
        padding: 5px 4px;
    }

    .divTable.minimalistBlack .divTableBody .divTableCell {
        font-size: 13px;
    }

    .divTable.minimalistBlack .divTableHeading {
        background: #CFCFCF;
        background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
        background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
        background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
        border-bottom: 3px solid #000000;
    }

    .divTable.minimalistBlack .divTableHeading .divTableHead {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        text-align: left;
    }

    .minimalistBlack .tableFootStyle {
        font-size: 14px;
    }

    /* DivTable.com */
    .divTable {
        display: table;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        display: table-header-group;
    }

    .divTableFoot {
        display: table-footer-group;
    }

    .divTableBody {
        display: table-row-group;
    }

{% endmacro %}


{% macro  macro_horizontal_table_html(name, title) %}
    <div id="{{ name }}_table_title_div" class="section_title">{{ title }}</div>
    <div style="width: 100%;overflow-x: auto"> <!-- was scroll -->
        <div id="{{ name }}_table_inner_div" class="divTable minimalistBlack">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead"></div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro  macro_horizontal_table_code(name) %}
    function {{ name }}_buildTable(data) {
        var table_id = "{{ name }}_table_inner_div";
        var title_id = "{{ name }}_table_title_div";
        var tableBody = document.getElementById(table_id);
        var header_data = data[0];

        $("#" + table_id + " .divTableHeading .divTableRow").html('');
        $("#" + table_id + " .divTableBody").html('');

        if (!data) {
            return;
        }

        $("#" + title_id).html(data[0].title);

        data[0].items.forEach(function (item, index) {
            $("#" + table_id + " .divTableHeading .divTableRow").append(`<div class="divTableHead">${item.label}</div>`);
        });

        data.forEach(function (data_row, index) {
            $("#" + table_id + " .divTableBody").append(`<div class="divTableRow"></div>`);
            data_row.items.forEach(function (item, index) {
               $("#" + table_id + " .divTableBody .divTableRow:last-child").append(`<div class="divTableCell">${item.value}</div>`);
            });
        });
    }

{% endmacro %}

{% macro  macro_horizontal_table_update_function(name, data_var) %}
    {{ name }}_buildTable({{ data_var }});
{% endmacro %}
