<!DOCTYPE html>
{% from "macro_common.jinja2" import macro_common_headers with context %}
{% from "macro_ajax.jinja2" import macro_ajax_call with context %}
{% from "macro_map.jinja2" import macro_map_html with context %}
{% from "macro_map.jinja2" import macro_map_code with context %}
{% from "macro_map.jinja2" import macro_map_update_function with context %}

<html>
<head>
	<title>Car status and position</title>
    {{ macro_common_headers() }}

    <style>
        body {
            margin: 0;
        }
    </style>

</head>
<body>
<div style="width: 100vw; height: 100vh">
    {{ macro_map_html('car_map') }}
</div>

<script>
    $(document).ready(function () {

        {{ macro_map_code('car_map', '0', '0') }}

        function dataUpdateSuccess(data) {
          {{ macro_map_update_function('car_map', 'data.lat', 'data.lon', 'data.mapLabels') }}
        }

        function dataUpdateFailure() {
          {{ macro_map_update_function('car_map', null, null, null) }}
        }

        {{ macro_ajax_call('car_status_update', get_status_url, 2000, 3, 'dataUpdateSuccess', 'dataUpdateFailure') }}
    });
</script>
</body>
</html>
