<!DOCTYPE html>

{% from "macro_common.jinja2" import macro_common_headers with context %}
{% from "macro_common.jinja2" import macro_common_footer with context %}
{% from "macro_ajax.jinja2" import macro_ajax_call with context %}
{% from "macro_map.jinja2" import macro_map_html with context %}
{% from "macro_map.jinja2" import macro_map_code with context %}
{% from "macro_map.jinja2" import macro_map_update_function with context %}
{% from "macro_label_group.jinja2" import macro_label_group_html with context %}
{% from "macro_label_group.jinja2" import macro_label_group_update_function with context %}
{% from "macro_table.jinja2" import macro_table_style with context %}
{% from "macro_table.jinja2" import macro_table_html with context %}
{% from "macro_table.jinja2" import macro_table_horizontal_code with context %}
{% from "macro_table.jinja2" import macro_table_vertical_code with context %}
{% from "macro_table.jinja2" import macro_table_update_function with context %}
<html>
<head>

    <title>{{ title or "Tesla Data Source Dashboard" }}</title>

    {{ macro_common_headers() }}

    <style>
        {{ macro_table_style('???') }}
    </style>
</head>
<body>
<div>
    <form method="POST" action="{{ post_url }}">
        {{ form.csrf_token }}
        {{ form.dt.label }} {{ form.dt }}
        {{ form.go_to_time }}
        {{ form.go_to_start }}
        {{ form.go_to_minus_10_hours }}
        {{ form.go_to_minus_1_hour }}
        {{ form.go_to_minus_10_minutes }}
        {{ form.go_to_minus_1_minute }}
        {{ form.go_to_minus_10_seconds }}
        {{ form.go_to_minus_1_second }}
        {{ form.go_to_plus_1_second }}
        {{ form.go_to_plus_10_seconds }}
        {{ form.go_to_plus_1_minute }}
        {{ form.go_to_plus_10_minutes }}
        {{ form.go_to_plus_1_hour }}
        {{ form.go_to_plus_10_hours }}
        {{ form.go_to_end }}
    </form>
</div>
<hr/>
<div class="map_row">
    <div id="mapid" class="map_column">
        {{ macro_map_html('car_map') }}
    </div>
    <div class="status_text_column">
        {{ macro_label_group_html('car_status') }}
        <hr/>
        {{ macro_label_group_html('car_total') }}
        <hr/>
        {{ macro_label_group_html('car_forecast') }}
    </div>
</div>

{{ macro_table_html('recent_lap', 'recent lap') }}
{{ macro_table_html('previous_laps', 'previous laps') }}

{{ macro_table_html('charging_processes', 'charging processes') }}

<script>
    {{ macro_table_horizontal_code('recent_lap') }}

    {% if configuration.previous_laps_table_vertical %}
        {{ macro_table_vertical_code('previous_laps') }}
    {% else %}
        {{ macro_table_horizontal_code('previous_laps') }}
    {% endif %}

    {% if configuration.charging_table_vertical %}
        {{ macro_table_vertical_code('charging_processes') }}
    {% else %}
        {{ macro_table_horizontal_code('charging_processes') }}
    {% endif %}


    $(document).ready(function () {
        console.log("ready")
        {{ macro_map_code('car_map', snapshot.current_status_formatted.lat, snapshot.current_status_formatted.lon) }}

        var lat = {{  snapshot.current_status_formatted.lat }};
        var lon = {{  snapshot.current_status_formatted.lon }};
        var mapLabels = {{ map_labels | tojson }};
        {{ macro_map_update_function('car_map', 'lat', 'lon', 'mapLabels') }}

        var statusLabels = {{ status_labels | tojson }};
        {{ macro_label_group_update_function('car_status', 'statusLabels') }}
        var totalLabels = {{ total_labels | tojson }};
        {{ macro_label_group_update_function('car_total', 'totalLabels') }}
        var forecastLabels = {{ forecast_labels | tojson }};
        {{ macro_label_group_update_function('car_forecast', 'forecastLabels') }}

        var recentLap = {{ recent_lap | tojson }};
        var previousLaps = {{ previous_laps.__root__ | tojson }};
        {{ macro_table_update_function('recent_lap', '[recentLap]') }}
        {{ macro_table_update_function('previous_laps', 'previousLaps') }}

        var charging_processes = {{ charging_processes.__root__ | tojson }};
        {{ macro_table_update_function('charging_processes', 'charging_processes') }}

    });
</script>

{{ macro_common_footer(admin_ui_url) }}
</body>
</html>
