{% extends 'admin/master.html' %}

{% block body %}
  {{ super() }}
  <div class="container">
      <h1>Create new user</h1>
      <form method="POST" action="{{ post_url }}">
        {{ form.csrf_token }}
          <div></div>
          <div>{{ form.email.label }} {{ form.email }}</div>
          <div>{{ form.password.label }} {{ form.password }}</div>
          <div>{{ form.roles.label }} {{ form.roles }}</div>
          <div>&nbsp;</div>
        {{ form.create }}
    </form>

  </div>
{% endblock %}

