{% extends 'admin/master.html' %}

{% block body %}
  {{ super() }}
  <div class="container">
      <h1>Add custom page</h1>
      <form method="POST" action="{{ post_url }}">
        {{ form.csrf_token }}
          <div>{{ form.pages.label }} {{ form.pages }} {{ form.load }} {{ form.delete }}</div>
          <div>{{ form.name.label }} {{ form.name }}</div>
          <div><div>{{ form.template.label }} {{ form.template(cols="80", rows="20") }}</div></div>
          <div>&nbsp;</div>
        {{ form.save }}
    </form>

  </div>
{% endblock %}

